body {
  background-color: black;
  color: black;
}
h1 {
  font-size: 3em;
}
div {
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
    padding: 10px;
}
