@charset "UTF-8";

@media (min-width: 280px) and (max-width: 320px){
    .imagem {
        width: 270px;
        height: auto;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        text-align: justify;
    }
}

@media (min-width:321px) and (max-width:425px){
    .imagem{
        width: 100%;
        height: auto;
    }

    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-align: center;
    }
}




